<div class="cart-container" xmlns:th="http://www.thymeleaf.org" th:fragment="cart">
    <div class="cart-table-header">
        <div class="label" id="product">Product  </div>
        <div class="label" id="price">Price      </div>
        <div class="label" id="quantity">Quantity</div>
        <div class="label" id="fee">Shipping Fee </div>
        <div class="label" id="item-total">Total </div>
        <div class="label" id="remove">Remove    </div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <div class="value">
        <div class="label" id="product">exmplaesdasdasdas</div>
        <div class="label" id="price">1000</div>
        <div class="label" id="quantity">1</div>
        <div class="label" id="fee">10</div>
        <div class="label" id="item-total">1010</div>
        <div class="label" id="remove"></div>
    </div>
    <a href="/checkout"><div class="table-checkout"><span>CHECKOUT</span></div></a>
</div>