<div class="catalog-container" xmlns:th="http://www.thymeleaf.org" th:fragment="catalog">
    <div class="controls">
        <label for="sort">SORT BY : </label>
        <select id="sort" name="sort">
            <option value="low">PRICE :  LOW - HIGH</option>
            <option value="high">PRICE :  HIGH - LOW</option>
        </select>
        <img th:src="@{/images/chevron-down.svg}" alt="">
    </div>
    <div class="item-row">
        <div class="items">
            <img th:src="@{/images/__${category}__/01.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/02.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/03.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/04.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/05.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/06.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
    </div>
    <div class="item-row">
        <div class="items">
            <img th:src="@{/images/__${category}__/07.png}" >
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/08.png}" >
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/09.png}" >
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/010.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/011.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/012.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
    </div>
    <div class="item-row">
        <div class="items">
            <img th:src="@{/images/__${category}__/013.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/014.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/015.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/016.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/017.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/018.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
    </div>
    <div class="item-row">
        <div class="items">
            <img th:src="@{/images/__${category}__/019.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/020.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/021.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/022.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/023.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
        <div class="items">
            <img th:src="@{/images/__${category}__/024.png}">
            <button class="add-to-cart">Add to cart</button>
        </div>
    </div>
</div>
