<div class="banner" xmlns:th="http://www.thymeleaf.org" th:fragment="banner">
    <span class="welcome">Welcome to Glimora!</span>
    <span class="sub-message">Discover Elegance</span>
</div>

<div class="categories-container" xmlns:th="http://www.thymeleaf.org" th:fragment="categories">
    <span class="categories-label">CATEGORIES</span>
    <div class="category-list">
        <div class="category bracelets"><span class="category-type">Bracelets</span></div>
        <div class="category earrings"><span class="category-type">Earrings</span></div>
        <div class="category necklaces"><span class="category-type">Necklaces</span></div>
        <div class="category rings"><span class="category-type">Rings</span></div>
    </div>
</div>