<nav class="navbar" xmlns:th="http://www.thymeleaf.org" th:fragment="navbar">
    <div class="brand">GLIMORA</div>
    <div class="commerce">
        <a href="#" class="commerce-item">
            <img th:src="@{/images/user.svg}" alt="User">
            <span>My Account</span>
        </a>
        <a href="#" class="commerce-item">
            <img th:src="@{/images/shopping-cart.svg}" alt="Cart">
            <span>Shopping Cart</span>
        </a>
        <a href="#" class="commerce-item">
            <img th:src="@{/images/shopping-bag.svg}" alt="Checkout">
            <span>Checkout</span>
        </a>
    </div>
</nav>