@import url("./fonts.css");
@import url("./navbar.css");
@import url("./search.css");
@import url("./home.css");
@import url("./catalog.css");
@import url("./navigate.css");
@import url("./cart.css");

body {
  font-family: 'Inter-24pt', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.division {
    width: 100%;
    height: 8px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}